CREATE OR REPLACE FUNCTION public.admin_update_user_role(target_id uuid, new_role text) RETURNS void AS  BEGIN IF EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin') THEN UPDATE public.profiles SET role = new_role WHERE id = target_id; END IF; END;  LANGUAGE plpgsql SECURITY DEFINER;
